@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.menu{
  display: absolute;
  height: 1080px;
  width: 20%;
  left: 20px;
  margin-left: -100%;
  background-color: #f2f2f2;
  transition: 0.3s;
}
.menu-btn{
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
 
.TDL{
  position: absolute;
  top: 30px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}